@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "JetBrains Mono", monospace;
}

* {
  scroll-behavior: smooth;
}

::selection {
  background: #ffc801;
  color: #172b36;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #172b36;
}

::-webkit-scrollbar-thumb {
  background: #ffc801;
  border-radius: 20px;
}
